
// Core variables and mixins
@import "../bootstrap/functions";
@import "../bootstrap/mixins";
@import "../bootstrap-extended/mixins";

// Load variable overrides
@import "../core/variables/variables";
@import "../core/variables/components-variables";

#scoreLineToDay {
	.ct-series-a {
		.ct-line {
			stroke: url(#scoreLineToDay-gradient);
			stroke-width: 5px;
		}
	}
}

#scoreLineToWeek {
	.ct-series-a {
		.ct-line {
			stroke: url(#scoreLineToWeek-gradient);
			stroke-width: 5px;
		}
	}
}

#scoreLineToMonth {
	.ct-series-a {
		.ct-line {
			stroke: url(#scoreLineToMonth-gradient);
			stroke-width: 5px;
		}
	}
}

.ct-area-circle {
	fill: $success;
	stroke-width: 5;
	stroke: $white;
}

.scoreLineShadow {
	-webkit-filter: drop-shadow(0px 20px 6px rgba(0, 0, 0, 0.1));
	filter: drop-shadow(0px 20px 6px rgba(0, 0, 0, 0.1));
}

// Nav

.tab-margin {
	margin-left: -21px;
	margin-right: -21px;
}

.nav {
	border-radius: 0px;
}

.nav.nav-tabs .nav-item .nav-link.active {
	color: #2a9df8 !important;
}

.nav.nav-tabs .nav-item .nav-link {
	color: #464855 !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	background-image: linear-gradient(to right top, #535be2, #646be6, #747be9, #848aec, #949aef) !important;
	color: #fff !important;
}

#ecommerceChartView .nav-link {
	color: #535be2;
}

.fs-2 {
	font-size: 2rem;
}
