// Travel List

.button-margin{
	margin-top: -40px;
}

// Travel booking
.ecommerce-cart .content .content-wrapper .content-header {
	background: url("../../images/gallery/timeline.jpg") no-repeat scroll 0% 40%;
	-webkit-background-size: cover;
	background-size: cover;
	margin: 0 0 5rem;
}