

// Sidebar base
// ------------------------------

// Base
.sidebar {
	position: relative;
	width: 100%;

	// For desktop only
	@include media-breakpoint-up(lg){
		// display: table-cell;
		vertical-align: top;
		width: $sidebar-width;
	}	
}
.sidebar-fixed{
	position: fixed;
	height: 100%;
	overflow: scroll;
}
@include media-breakpoint-up(lg){
	.sidebar-left{
	    float:left;
	}
	.sidebar-right{
	    float:right;
	}
}
